@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body {
  background-color: white;
  color: #454545;
  font-family: Roboto, sans-serif;
  margin: 50px 30px 30px;
}

h1 {
  color: antiquewhite;
  font-family: Yusei Magic, sans-serif;
}

h2 {
  color: #FE4A49;
  font-family: Yusei Magic, sans-serif;
}

.keypad {
  width: 30%;
}

.action {
  width: 50%
}

.equals {
  width: 100%
}

.clickable {
  background-color: #454545;
  color: antiquewhite;
  width: 50%
}

.clickable:hover {
  background-color: antiquewhite;
  color: #454545;
  cursor: pointer;
}

.number {
  background-color: aliceblue;
  color: aqua;
  width: 90%;
}

.letsStyle {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.calculator-container {
  background: rgb(25, 52, 136);
  background: -moz-linear-gradient(0deg, rgba(25, 52, 136, 1) 0%, rgba(146, 77, 168, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(25, 52, 136, 1) 0%, rgba(146, 77, 168, 1) 100%);
  background: linear-gradient(0deg, rgba(25, 52, 136, 1) 0%, rgba(146, 77, 168, 1) 100%);
  /* stylelint-disable-next-line */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#193488", endColorstr="#924da8", GradientType=1);
  color: white;
  width: 100%;
  max-height: 45rem;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  border-radius: 2rem;
  box-shadow: 13px 13px 20px rgb(0, 0, 0);
}

.full-height {
  height: 90vh;
}
.display {
  display: flex;
  background-color: transparent;
  color: white;
  font-size: 2.3rem;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

.total {
  justify-self: flex-end;
}

.hint {
  font-size: 1.3rem;
  align-self: flex-start;
  padding: 1.4rem;
  margin-right: auto;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button-grid:nth-child(4n) {
  background-color: #454ed4;
}

.bottom-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-radius: 2rem;
}

button {
  border: 1px solid transparent;
  background: transparent;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

.btn {
  font-size: 1.3rem;
  background: rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.used {
  background: rgba(0, 0, 0, 0.7) !important;
  cursor: auto !important;
  color: #454545 !important;
}


.orange {
  background-color: #454ed4;
}

.zero {
  border-bottom-left-radius: 2rem;
}

.equals {
  border-bottom-right-radius: 2rem;
}

@media only screen and (max-device-width: 480px) {
  .calculator-container {
    max-width: 80vw;
    max-height: 120vw;
  }
}

.grey-text {
  color: #454545;
}

.wrapper {
  align-items: center;
  background: #ccc repeating-linear-gradient(45deg, #ccc, #ccc 10px, #eee 10px, #eee 20px);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 10px;
  width: 100vw;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  position: relative;
  width: 80px;
  height: 60px;
  font-size: 48px;
  font-family: Yusei Magic, sans-serif;
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
}

.page-title {
  font-size: 5rem;
  color: #454ed4;
}