@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body {
  background-color: white;
  color: #454545;
  font-family: Roboto, sans-serif;
  margin: 50px 30px 30px;
}

.target {
  font-size: 5rem;
}

h1 {
  color: #454545;
  font-family: Yusei Magic, sans-serif;
}

h2 {
  color: #071108;
  font-family: Yusei Magic, sans-serif;
}

.keypad {
  width: 30%;
}

.action {
  width: 50%
}

.keypad {
  height: 50vh
}

.equals {
  width: 100%
}

.clickable {
  //background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  font-size:4rem;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  background-color: #666666;
  color: whitesmoke;
  width: 16%;
  height: auto;
  min-height: 6vh;
}

.round-clickable {
  //background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: #666666 solid;
  color: #666666;
  font-size:4rem;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  background-color: transparent;
  width: 16%;
  height: auto;
  min-height: 6vh;
}



.newNum {
  background-color: #2589BD !important;
}

.bigNum {
  background-color: #f4b942 !important;
}

.smallNum {
  background-color: #7BC950 !important;
}

.clickable:active .front {
  transform: translateY(-2px);
}

.clickable:hover {
  transform: translateY(-2px);
  cursor: pointer;
}


.letsStyle {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.calculator-container {
  //background: rgb(25, 52, 136);
  //background: -moz-linear-gradient(0deg, rgba(25, 52, 136, 1) 0%, rgba(146, 77, 168, 1) 100%);
  //background: -webkit-linear-gradient(0deg, rgba(25, 52, 136, 1) 0%, rgba(146, 77, 168, 1) 100%);
  //background: linear-gradient(0deg, rgba(25, 52, 136, 1) 0%, rgba(146, 77, 168, 1) 100%);
  /* stylelint-disable-next-line */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#193488", endColorstr="#924da8", GradientType=1);
  color: white;
  width: 100%;
  max-height: 45rem;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  border-radius: 2rem;
  //box-shadow: 13px 13px 20px rgb(0, 0, 0);
}

.full-height {
  height: 90vh;
}
.display {
  display: flex;
  background-color: transparent;
  color: #071108;
  font-size: 6rem;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.5rem;
  min-height: 10rem;
}

.total {
  justify-self: flex-end;
}

.hint {
  font-size: 4rem;
  padding: 1.4rem;
  margin-right: auto;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button-grid:nth-child(4n) {
  background-color: #454545;
}

.bottom-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-radius: 2rem;
}

button {
  border: 1px solid transparent;
  background: transparent;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.used {
  background: rgba(0, 0, 0, 0.7) !important;
  color: darkgray;
  cursor: auto !important;
}


.zero {
  border-bottom-left-radius: 2rem;
}

.equals {
  border-bottom-right-radius: 2rem;
}

@media only screen and (max-device-width: 480px) {
  .calculator-container {
    max-height: 120vw;
  }
}

.grey-text {
  color: #454545;
}

.wrapper {
  align-items: center;
  background: #ccc repeating-linear-gradient(45deg, #ccc, #ccc 10px, #eee 10px, #eee 20px);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 10px;
  width: 100vw;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  position: relative;
  width: 80px;
  height: 60px;
  font-size: 48px;
  font-family: Yusei Magic, sans-serif;
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
}

.page-title {
  font-size: 5rem;
  color: #071108;
}