@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
//
html {
  font-size: 100%;
}

body {
  background-color: white;
  color: #454545;
  font-family: Roboto, sans-serif;
  margin: 50px 30px 30px;
  max-height: 100vh;
  overflow-x:hidden;
  overflow-y:hidden;
}

.game-wrapper {
  margin-top: 50px;
  width: 100%;
  min-height: 90vh;
  max-height: 90vh;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-device-width: 900px) {
  .game-wrapper {
    max-width: 400px !important;
  }

}
.clickable {
  font-size: 1.5rem !important;

  width: 16% !important;
}

.round-clickable {
  font-size: 1.5rem !important;
}

h1 {
  font-size: 2rem !important;
}
.display {
  font-size: 2rem !important;
}
.result-modal {
  min-height: 50vh !important;
  width: 400px !important;
}
.play {
  font-size: 3rem !important;
}

.header-links {
  margin-top: 20px !important;

  font-size: 1.5rem !important;
}

.game-board {
  width: 100%;
}

h1 {
  font-size: 5rem;
  color: #454545;
  font-family: Yusei Magic, sans-serif;
}

.clickable {

  text-align: center;
  border-radius: 12px;
  border: none;
  font-size:4rem;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  background-color: #666666;
  color: whitesmoke;
  width: 142px;
  height: auto;
  min-height: 6vh;
}

.round-clickable {
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 12px;
  border: #666666 solid;
  color: #666666;
  font-size:4rem;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  background-color: transparent;
  width: 16vw;
  height: auto;
  min-height: 6vh;
}

.newNum {
  background-color: #2589BD !important;
  margin-left: 3px;
}

.bigNum {
  background-color: #f4b942 !important;
}

.smallNum {
  background-color: #7BC950 !important;
}

.clickable:active .front {
  transform: translateY(-2px);
}

.clickable:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.display {
  display: flex;
  background-color: transparent;
  color: #071108;
  font-size: 4rem;
  align-items: center;
  justify-content: flex-end;
  min-height: 10vh;
}

.play:hover {
  cursor: pointer
}

.play {
  font-size: 6rem;
}

.used {
  background: rgba(0, 0, 0, 0.7) !important;
  color: darkgray;
  cursor: auto !important;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  position: relative;
  width: 25vw;
  height: 10vh;
  font-size: 30px;
  font-family: Yusei Magic, sans-serif;
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
}

.result-modal {
  min-height: 50vh;
  width: 90vw;
}

.modal-cont {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main-cont {
  border-radius: 20px;
  z-index: 100;
  min-height: 30vh;
  position:fixed;
  background: white;
  width: 70%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.header-links {
  margin-top: 40px;
  cursor: pointer;
  font-size: 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  padding: 0.5rem 1rem 0.5rem 1rem;

  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.hidden {
  display: none !important;
}

.w-90 {
  width: 90%;
}